#HomeView .cv-section {
    box-shadow: 0 0 2px 0 #808080;
}

#HomeView .margin-top-3 {
    margin-top: 3%;
}

.img-cropper {
    height: 200px;
    width: 200px;
    background-color: #eae9ee;
    border-radius: 50%;
    overflow: hidden;
}
.img-cropper img {
    height: 200px;
    width: 200px;
    object-fit: contain;
}

.cv-section > .title {
    font-weight: bold;
    font-size: 1.1em;
}

#experience-div .item .title, #education-div .item .title {
    font-weight: bold;
}


#about-me #contact {
    -webkit-animation-name: contact-animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    animation-name: contact-animation;
    animation-duration: 5s;
}

/* --Contact Animation-- */
/* Safari 4.0 - 8.0 */
@-webkit-keyframes contact-animation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1.2);
    }
}
  
/* Standard syntax */
@keyframes contact-animation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1.2);
    }
}
/* ----- END ----- */


@media only screen and (max-width: 600px) {
    .img-cropper {
        height: 90px;
        width: 90px;
    }
    .img-cropper img {
        height: 90px;
        width: 90px;
    }
    #about-me {
        font-size: 0.8em;
    }
}
