.SingleCell .img-frame {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 2px 2px;
}

.SingleCell .img-frame img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}